name: Build and Deploy

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build app container
      run: |
        docker build -f backend/Containerfile -t ghcr.io/${{ secrets.GHCR_USERNAME }}/guestbook:latest ./backend

    - name: Build redis container
      run: |
        docker build -f frontend/Containerfile -t ghcr.io/${{ secrets.GHCR_USERNAME }}/redis:latest ./frontend

    - name: Push containers
      run: |
        docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/guestbook:latest
        docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/redis:latest

    - name: Install OpenShift CLI
      run: |
        curl -LO https://mirror.openshift.com/pub/openshift-v4/clients/oc/latest/linux/oc.tar.gz
        tar -xvf oc.tar.gz
        sudo mv oc /usr/local/bin/

    - name: Login to OpenShift
      run: oc login --token=${{ secrets.OCP_TOKEN }} --insecure-skip-tls-verify --server=https://api.devops24.cloud2.se:6443

    - name: Deploy on OpenShift
      run: |
        oc project test-miljo2
        oc apply -f config.yaml
        oc apply -f backend.yaml
        oc apply -f frontend.yaml
        oc apply -f secrets.yaml
