name: Build and Deploy

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build app container
      run: |
        OWNER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
        docker build -t ghcr.io/$OWNER/guestbook:latest app

    - name: Build redis container
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/redis:latest redis

    - name: Push containers
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/guestbook:latest
        docker push ghcr.io/${{ github.repository_owner }}/redis:latest

    - name: Login to OpenShift
      run: oc login ${{ secrets.OC_SERVER }} --token=${{ secrets.OC_TOKEN }} --insecure-skip-tls-verify

    - name: Deploy on OpenShift
      run: |
        oc project ${{ secrets.OC_NAMESPACE }}
        oc apply -f openshift/
        
